input.ng-invalid.ng-touched, select.ng-invalid.ng-touched{
    border-left: solid 5px red;
    box-shadow: none;
}
input.ng-valid.ng-touched, select.ng-valid.ng-touched{
    border-left: solid 5px #779d34;
    box-shadow: none;
}
