<div class="row">
  <div class="col-12">
    <img src="{{ recipe.imagePath }}" alt="{{ recipe.name }}" class="img-responsive" style="height: 400px; width: 100%;">
  </div>
</div>
<div class="row d-flex justify-content-md-between">
    <div class="col-7 col-md-8">
      <h1>{{ recipe.name }}</h1>
    </div>
    <div class="col-3">
      <div class="dropdown">
        <button type="button" class="btn btn-success dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Opciones <span class="caret"></span></button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" style="cursor: pointer" (click)="addToCar()">Agregar lista de compras</a>
          <a class="dropdown-item" style="cursor: pointer" routerLink="editar">Editar receta</a>
          <a class="dropdown-item" style="cursor: pointer">Eliminar receta</a>
        </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
      {{ recipe.description }}
    </div>
</div>
<div class="row">
    <div class="col-12">
      <h6>Ingredientes</h6>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients"> {{ ingredient.name }} {{ ingredient.amount }}{{ ingredient.medida }} </li>
      </ul>
    </div>
</div>