<a  [routerLink]="[ recipe._id ]" routerLinkActive="active" style="cursor: pointer" class="list-group-item clearfix">
  <div class="row">

    <div class="col-8">
      <h4 class="list-group-item-header"> {{ i + 1 }} {{ recipe.name }} </h4>
      <p class="list-group-item-text"> {{ recipe.description }} </p>
    </div>
    <span class="col-4">
      <img src="{{ recipe.imagePath }}" alt="{{ recipe.name }}" class="img-responsive" style="margin-top: 5%;border-radius: 50%;  height: 80px; width: 80px;">
    </span>
  </div>
</a>