<nav class="navbar navbar-expand-md navbar-light mb-5">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Recetario</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav d-flex" style="width:100%">
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/recetas">Recetas</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/carro-de-compras">Lista de compras</a></li>
        <li class="nav-item dropdown d-md-none">
          <a  class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrar <span class="caret"></span></a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" >Guardar data</a>
            <a class="dropdown-item" >Mostrar data</a>
          </div>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <li class="nav-item dropdown">
        <a  class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrar <span class="caret"></span></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" >Guardar data</a>
          <a class="dropdown-item" >Mostrar data</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
